<h1>Results</h1>
    <tr>
      <td><%= @recipe.name %></td>
      <td><%= @recipe.instructions %></td>
      <td><%= @recipe.ingredients.first&.name  %></td>
    </tr>

  <tr>
    <td><%= @ingredient.name %></td>
  </tr>  
